.background{
    background-color: hsl(220, 15%, 55%);
    height: 70vh;
    margin: 50px;
    box-shadow: 0 5px 8px 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.card{
    background-color: #fff;
    height: 400px;
    width: 250px;
    border-radius: 10px;
    margin: 35px 0 35px 0;
}
img{
    width: 230px;
    margin: 10px;
    border-radius: 10px;
}
.p1{
    font-size: 17px;
    color:hsl(218, 44%, 22%);
}
.p2{
    font-size: 13px;
    color:  hsl(212, 45%, 89%);
}